@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Freeman&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}

header {
  background-color: yellow;
  position: fixed;
  flex-direction: row;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  width: 100%;
}

.slider {
  padding-top: 110px;
}
.header-top {
  width: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: absolute;
  z-index: 1000;
  left: 30px;
}

.logo img {
  height: 200px;
}

.busqueda {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.busqueda form {
  display: flex;
  align-items: center;
}
.busqueda input[type="text"] {
  width: 600px;
  height: 40px;
  border-radius: 4px 0 0 4px;
  border: none;
  padding: 10px;
  box-shadow: 0.5px 1px 1px 1px rgba(0, 0, 0, 0.1);
  outline: none;
}
.search-button i {
  font-size: 16px;
}
.busqueda button {
  height: 40px;
  width: 50px;
  border-radius: 0 4px 4px 0;
  border: none;
  background-color: #fff;
  box-shadow: 0.5px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.navbar {
  width: 100%;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar .links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.navbar .links li {
  margin: 0 15px;
}

.navbar .links li a {
  text-decoration: none;
  color: black;
}

#contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contenedor-productos .card {
  width: 200px;
  height: 280px;
  margin: 15px;
  text-align: center;
  justify-content: center;

  align-items: center;
}

.card img {
  width: 130px;
  border-bottom: 2px solid black;
}
.card p {
  font-size: 15px;
  font-weight: bold;
  padding-top: 10px;
  text-align: inherit;
}

.card h2 {
  font-size: 30px;
  font-family: "Freeman", sans-serif;
}

#contenedor-productos .card:hover {
  -webkit-box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.28);
}

.historia {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

.historia p {
  width: 800px;
  display: inline-block;
  justify-content: center;
}

.historia h2 {
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}
.footer li {
  display: inline-block;
}

.footer p {
  color: rgb(165, 165, 165);
}

.footer ul {
  list-style: none;
}

.footer ul li a {
  text-decoration: none;
  color: rgb(165, 165, 165);
  margin: 20px;
}

h1 {
  display: flex;
  justify-content: center;
}

.ayudamain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding-top: 140px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 2px solid black;
  margin-bottom: 80px;
  padding: 20px;
  border-radius: 25px;
  width: 700px;
}

#nombre {
  width: 200px;
  height: 30px;
  border-radius: 15px;
  padding-left: 10px;
  margin: 5px;
}

#apellido {
  width: 200px;
  height: 30px;
  border-radius: 15px;
  padding-left: 10px;
  margin: 5px;
}

fieldset {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 50px;
  border-radius: 15px;
  padding-left: 20px;
  margin: 5px;
}

fieldset label {
  margin-left: 20px;
}

fieldset label input {
  padding: 10px;
}

#email {
  width: 250px;
  height: 30px;
  border-radius: 15px;
  padding-left: 10px;
}

#coment {
  width: 400px;
  margin: 5px;
  border-radius: 3px;
}

#enviar {
  width: 50px;
  height: 30px;
  margin-left: 300px;
  margin-top: 15px;
  border-radius: 15px;
  background-color: #fff;
}

@media (max-width: 600px) {
  .busqueda button {
    height: 20px;
    width: 25px;
    justify-content: center;
    box-shadow: none;
  }
  header {
    position: fixed;
  }

  .header-top .logo img {
    height: 90px;
    margin-right: 40px;
  }

  .slider {
    padding-top: 100px;
  }

  .busqueda button i {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo img {
    height: 20px;
  }

  .busqueda input[type="text"] {
    width: 190px;
    height: 20px;
    font-size: 10px;
    margin-left: 60px;
    box-shadow: none;
  }

  .navbar .links {
    font-size: 12px;
    display: flex;
    justify-content: center;
  }

  .navbar .links li a {
    margin: 0px;
  }

  #contenedor-productos .card {
    width: 100px;
    height: 150px;
    margin: 15px;
  }

  .card img {
    width: 50px;
  }

  .card p {
    font-size: 8px;
    font-weight: bold;
    padding-bottom: 2px;
  }

  .card h2 {
    font-size: 20px;
  }
  .logo img {
    height: 100px;
    margin-right: 20px;
  }

  .logo {
    margin: 0 120px 20px 0;
  }

  .historia {
    padding: 120px 0 50px 0;
    justify-content: center;
    align-items: center;
  }

  .historia p {
    width: 340px;
    display: inline-block;
    justify-content: center;
  }

  .historia h2 {
    font-size: 20px;
  }

  .ayudamain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding-top: 120px;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 2px solid black;
    margin-bottom: 80px;
    padding-top: 40px;
    border-radius: 8px;
    width: 350px;
  }
  .ayudamain h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  #nombre {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    margin: 5px;
    outline: none;
  }

  #apellido {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    margin: 5px;
    outline: none;
  }

  fieldset {
    width: 300px;
    height: 50px;
    border-radius: 20px;
    margin: 5px;
    padding-right: 35px;
    outline: none;
  }

  #email {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    margin: 5px;
    outline: none;
  }

  #coment {
    width: 300px;
    margin: 5px;
    border-radius: 3px;
    outline: none;
  }

  #enviar {
    width: 50px;
    height: 30px;
    margin-left: 130px;
    margin-top: 15px;
    border-radius: 4px;
    background-color: #fff;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
  }
  .footer li {
    display: inline-block;
  }

  .footer p {
    font-size: 13px;
    color: rgb(165, 165, 165);
  }

  .footer ul {
    list-style: none;
  }

  .footer ul li a {
    text-decoration: none;
    color: rgb(165, 165, 165);
    font-size: 15px;
    margin-right: 40px;
  }
}
