@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}

header {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
}

.header-top {
  width: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: fixed;
  z-index: 1000;
}

.logo img {
  height: 200px;
}

.busqueda {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.busqueda form {
  display: flex;
  align-items: center;
}
.busqueda input[type="text"] {
  width: 600px;
  height: 40px;
  border-radius: 4px 0 0 4px;
  border: none;
  padding: 10px;
  box-shadow: 0.5px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.busqueda button {
  height: 40px;
  width: 50px;
  border-radius: 0 4px 4px 0;
  border: none;
  background-color: #fff;
  box-shadow: 0.5px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.navbar {
  width: 100%;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar .links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.navbar .links li {
  margin: 0 15px;
}

.navbar .links li a {
  text-decoration: none;
  color: black;
}

#contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contenedor-productos .card {
  width: 200px;
  height: 280px;
  margin: 15px;
  text-align: center;
  justify-content: center;

  align-items: center;
}

.card img {
  width: 130px;
  border-bottom: 2px solid black;
}
.card p {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
}

h2 {
  font-size: 10px;
}

#contenedor-productos .card:hover {
  -webkit-box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.28);
}

.historia {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.historia p {
  width: 800px;
  display: inline-block;
  justify-content: center;
}

.historia h2 {
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}
.footer li {
  display: inline-block;
}

.footer p {
  color: rgb(165, 165, 165);
}

.footer ul {
  list-style: none;
}

.footer ul li a {
  text-decoration: none;
  color: rgb(165, 165, 165);
  margin: 20px;
}

h1 {
  display: flex;
  justify-content: center;
}

.ayudamain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 2px solid black;
  margin-bottom: 80px;
  padding: 20px;
  border-radius: 3px;
  width: 700px;
}

#nombre {
  width: 200px;
  height: 30px;
  border-radius: 3px;
  margin: 5px;
}

#apellido {
  width: 200px;
  height: 30px;
  border-radius: 3px;
  margin: 5px;
}

fieldset {
  width: 400px;
  height: 50px;
  border-radius: 3px;
  margin: 5px;
}

#email {
  width: 200px;
  height: 30px;
  border-radius: 3px;
  margin: 5px;
}

#coment {
  width: 400px;
  margin: 5px;
  border-radius: 3px;
}

#enviar {
  width: 50px;
  height: 30px;
  margin-left: 300px;
  margin-top: 15px;
  border-radius: 4px;
  background-color: #fff;
}

@media (max-width: 900px) {
  .busqueda button {
    height: 20px;
    width: 20px;
  }

  .logo img {
    height: 120px;
  }

  .busqueda input[type="text"] {
    width: 250px;
    height: 20px;
    font-size: 8px;
  }

  .navbar .links {
    font-size: 8px;
    display: flex;
    justify-content: center;
  }

  .navbar .links li a {
    margin: 0px;
  }

  #contenedor-productos .card {
    width: 100px;
    height: 150px;
    margin: 15px;
  }

  .card img {
    width: 50px;
  }

  .card p {
    font-size: 8px;
    font-weight: bold;
    padding-bottom: 2px;
  }

  .card h2 {
    font-size: 20px;
  }
}
